<header>
  <div class="container-fluid" style="border: 1px solid silver;height:60px;">
    <h1 class="titre">Chat Servers Monitoring</h1>
  </div>
</header>

<div class="modal-body">
   <div class="first-column">
    <h3>Users</h3>
     <h3>Chatrooms</h3>
  </div>
<div class="second-column">
  <app-user-component></app-user-component>
  <app-chat-component></app-chat-component>
</div>
</div>





